{% block content %}
<div class="row">
    <div class="col">
        <table class="table table-striped">
          <thead class="thead-dark"><tr><th>disk</th><th>title</th><th>overview</th></tr></thead>
            <tbody>
                {% for movie in movie_list %}
                <tr><th>{{ movie.disk}}</th><td><a href="{% url 'moviedb:movie_detail' movie.pk %}">{{ movie.title }}</a></td><td>{{ movie.overview }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}